body{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100vh;
    background-color: w#f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(82, 6, 74);
}

.album-cover img{
    height: 250px;
    transition: transform 0.3s ease-in-out;
}
.album-cover:hover{
    transform: scale(0.98);
}

.plaque{
    background-color: rgba(255, 255, 255, 0.237);
    padding: 20px;
    width: 400px;
    text-align: center;
    border: 1px solid black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.song-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

}

.song-details{
    text-align: left;
}

.song-info h2{
    margin: 0;
    font-size: 18px;
}

.song-info p{
    margin: 5px 0 0;
    color: #1f1f1f;
    font-size: 14px;


}

.heart {
    background: none;
    color: red;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.heart:active{
    transform: scale(0.95);
}

.progress-bar{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.progress-bar span {
    font-size: 12px;
    margin: 0 5px;
}

#seek-bar{
    flex-grow: 1;
    cursor: pointer;
}


.controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controls button{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.controls button:active{
    transform: scale(0.95);
}

#play-pause{
    font-size: 40px;
}

.bottom-row{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.bottom-row button{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: 1s ease-in-out;
}

.bottom-row button:hover{
    color: green;
    transform: scale(0.98);
}

.spotify-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.spotify-row i {
    font-size: 24px;
    color: black;
    margin-bottom: 10px;
}

#visualizer{
    width: 100%;
    height: 100px;
}
.vertical-menu {
    position: relative;
    top: -130px;
    left: 70px;
    width: 200px;
    padding: 80px;
    width: 100%;
    justify-content: left;
    margin-top: 0px;
    margin-bottom: -100px;
    gap: 10px;
    z-index: 1;
    overflow: hidden;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #04AA6D;
    color: white;
}

/* Universal */

.buttons {
    display: flex;
    gap: 10px;
    /* space between buttons */
}

/* Main content */

.playlistContent {
    margin-top: 70px;
    margin-left: 100px;
    margin-right: 220px;
}

/* Top bar */

.top-bar {
    /* background: linear-gradient(to bottom, #e3e3e3, #c6c6c6); */
    background: repeating-linear-gradient(#e3e3e3 50%, #108f9a 50%);
    position: fixed;
    top: 0;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
    z-index: 1;
    overflow: hidden;
}

.top-bar input[type="text"] {
    width: 100%;
    display: flex;
    padding: 10px;
    background-color: #fff;
    border: none;
    color: #000;
    border-radius: 5px;
}

/* Sidebar */
.sidebar {
    left: 0;
    position: fixed;
    width: 120px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-icon {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 24px;
    padding-bottom: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.playlist-item {
    text-align: center;
}

.playlist-item img {
    border-radius: 4px;
    width: 100px;
    height: 100px;
}

.playlist-item p {
    margin-top: 3px;
    font-size: 14px;
    color: #333;
}

/* Footer */

/*footer container for the gray bar thingy*/
.music-controls-container {
    width: 100%;
    position: fixed;
    bottom: 2%;
    padding: 0 10px;
}

.music-controls {
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    background-color: #fff;
    display: flex;
}

.music-controls .track-info {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000;
}

.music-controls .track-info img {
    border-radius: 5px;
}
