head {
    font-family: "Brush Script MT", monospace;
}

body {
    font-family: "Brush Script MT", monospace;
    background-color:#fae4b9;
}

img {
    background: #de5568;
    width: 75%;
    border-style: none;
    border-radius: 10%;
    border-width: 8px;
    border-color: #701355;
}

table {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    border:solid;
}

th, tr {
    border-bottom: 3px solid #ddd;
    height: 15%;
    vertical-align: middle;
    text-align: left;
}

p {
    color:#701355;
}