.container {
    --bgColor: #fae4b9;
}

head {
    font-family: monospace;
}

body {
    font-family: monospace;
    background-color:#f0a383;
}

img.songIcon{
    background: #de5568;
    width: 32px;
    border-style: double;
    border-radius: 10%;
    border-width: 8px;
    border-color: #701355;
}

/* Animations START */

.playlistContent {
    animation-duration: 1.5s;
    animation-name: appear;
}

.top-bar {
    animation-duration: 1.5s;
    animation-name: appear;
}
 

.sidebar {
    animation-duration: 1.5s;
    animation-name: appear;
}

.music-controls-container {
    animation-duration: 1.5s;
    animation-name: appear;
}

/* Animations END */

table {
    width: 100%;
    /* border:solid; */
}

table.bordered {
    /* border: solid 1px #f0a383; */
    border-collapse: collapse;
}

th, tr {
    /* border-right: solid 1px #f0a383; */
    /* border-bottom: solid 3px #f0a383; */
    height: 15%;
    vertical-align: middle;
    text-align: left;
    padding:8px;
}

th.songNum {
    width:0px;
    padding:8px;
}

th.imgIcon {
    padding:0px;
    text-align: center;
    width: 40px;
    height: 15%;
}

th.songButton {
    padding:0px;
}

button.songButton {
    font-family: monospace;
    background-color: #fae4b9;
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
}

p {
    color: #701355;

    animation-duration: 1.5s;
    animation-name: appear;
}

@keyframes appear {
    from {
        translate: 0 10px;
        opacity: 0%;
    }

    to {
        translate: 0 0;
        opacity: 100%;
    }
}