* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /*general text*/
  body {
    font-family: 'Verdana';
    background-color: #121212;
    color: #fff;
  }
  
  .buttons {
    display: flex;
    gap: 10px; /* space between buttons */
  }
  
  .content {
    flex: 1;
    padding: 10px;
  }
  
  .main {
    flex: 1;
    padding: 10px;
  }
  
  .main-ui {
    display: flex;
    height: 100vh;
  }
  
  .modes {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .modes-section {
    width: 100%;
    text-align: center;
  }
  
  .modes-section h1 {
    font-size: 28px;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  
  /*image on the album btns*/
  .mode-card img {
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .mode-card {
    background-color: #181818;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 180px;
  }
  
  /*text on the lil mode buttons*/
  .mode-card p { 
    color: #fff;
    font-size: 14px;
  }
  
  /*footer container for the gray bar thingy*/
  .music-controls-container {
    width: 100%;
    position: fixed;
    bottom: 2%;
    padding: 0 10px;
  }
  
  .music-controls {
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    background-color: #282828;
    display: flex;
  }
  
  .music-controls .track-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .music-controls .track-info img {
    border-radius: 5px;
  }
  
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    gap: 10px;
  }
  
  .top-bar input[type="text"] {
    width: 100%;
    display: flex;
    padding: 10px;
    background-color: #333;
    border: none;
    color: #fff;
    border-radius: 5px;
  }
  